<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instructions</title>
    <style>
        .sentence {
            background-color: #d8e4e6; /* Slightly lighter dark background for sentences */
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
        }
        .red {
            color: #FF0000; 
            font-weight: bold;
        }
        .blue {
            color: #1618b1; 
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h2>HOW TO USE THE APP:</h2>
    <div class="sentence">You can provide as many URLs as possible in the textbox. </div>
    <div class="sentence">The provided list of URLs must be separated by 
        <span class="red">commas</span>, and <span class="red">ONLY commas</span>. </div>
    <div class="sentence">The <span class="blue">View Details</span> button toggles the details of the scraped content.</div>
    <div class="sentence">The <span class="blue">Show Previous Change</span> button checks the Previous non-zero change.</div>
</body>
</html>
